body {
    background-color: #18191a;
}

.clickable {
    cursor: pointer;
}
.zoom {
    transition: transform .1s;
}

.zoom:hover {
    -webkit-transform: scale3d(1.06, 1.06, 1);
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
}

.darkBg {
    background: #242526;
}

.primaryBg {
    background: #80DEEA;
}

.primaryText {
    color: #80DEEA;
    font-size: 0.8em;
}

.sammy-nowrap-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fancySwitch {
    position: relative; width: 47px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.fancySwitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.fancySwitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 28px; padding: 0; line-height: 28px;
    border: 2px solid #E3E3E3; border-radius: 28px;
    background-color: #242526;
    transition: background-color 0.2s ease-in;
}
.fancySwitch-label:before {
    content: "";
    display: block; width: 28px; margin: 0;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 17px;
    border: 2px solid #E3E3E3; border-radius: 28px;
    transition: all 0.2s ease-in 0s;
}
.fancySwitch-checkbox:checked + .fancySwitch-label {
    background-color: #80DEEA;
}
.fancySwitch-checkbox:checked + .fancySwitch-label, .fancySwitch-checkbox:checked + .fancySwitch-label:before {
    border-color: #80DEEA;
}
.fancySwitch-checkbox:checked + .fancySwitch-label:before {
    right: 0;
}

.flipDevice {
    width: 188px;
    height: 188px;
}

.flipRule {
    width: 188px;
    height: 365px;
}

.flipCard {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flipCard.is-flipped {
    transform: rotateY(180deg);
}

.flipCard-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flipCard-back {
    transform: rotateY(180deg);
}

.addIcon {
    font-size: 100px;
}
.statIcon {
    font-size: 30px;
}


.deviceCard {
    width: 188px;
    max-width: 188px;
    height: 188px;
}

.ruleCard {
    width: 188px;
    max-width: 188px;
    height: 365px;
}

.nana {
    background: #242526;
}

.nana.active {
    background: #80DEEA;
    border-color: #80DEEA;
}
